# Ignore Mac system files
.DS_store

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore this reference file
python_test_script_forRef.py

# Ignore virtual enviornment
env/
